.header {
  display: flex;
  justify-content: space-around;
  height: 400px;
  margin-bottom: 30px;
  width: 100vw;
  z-index: 2;
  position: relative;
}

.header > p{
  display: flex;
  align-items: flex-end;
  float: right;
  text-align: right;
  font-size: clamp(1.125rem, 2.54vw + 0.468rem, 2.5rem);
  color: #1b1b1b;
  animation: fadeIn 2s;
  margin: 0;
}


.wave_container {  
  height: 40vh;
  background-color: #20B2AA;
  position: relative;
  overflow: hidden;
  }
  
.wave_container::before {   
    content: "";
    width: 100%;
    height: 88px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 29vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  123' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 90L50 84C100 79 200 68 300 46C400 24 500 -9 600 2C700 13 800 68 900 90C1000 112 1100 101 1150 96L1200 90V123H1150C1100 123 1000 123 900 123C800 123 700 123 600 123C500 123 400 123 300 123C200 123 100 123 50 123H0V90Z' fill='%23FFF5EE'/></svg>");
  }

  @media(max-width:850px) {
    .wave_container::before {    
      height: 44px
    }  
  }

/* ///////////////////////////////////////////////// */

.logo > span{
  display: grid;
  position: relative;
  justify-content: center;
  align-content: center;
  width: 200px;  
  height: 200px;
  background-color: var(--main-color);
  text-align: center;
  border-radius: 50%;
  margin-left: 3%;
  transition: transform 1s;
  margin: 9px;
  animation: fadeIn 1s;
}

.logo > span > p:nth-child(1){
  font-size: 180px;
  color: var(--main-color-darker);
  margin: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  transform: rotate(-10deg);
  animation: zoomInLogo 2s infinite;
}

.logo > span > p:nth-child(2){
  position: absolute;
  font-size: 80px;
  right: -28px;
  bottom: -113px;
  font-weight: bolder;
  color: #ffffff;
}

/* ///////////////////////////////////////////////// */

.container{
  display: grid;
  justify-items: center;
  width: 100%;
  margin-top: 100px;
}

.container > div{
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 40px;
  row-gap: 50px;
  flex-wrap: wrap;
  height: max-content;
}

.container > button{
  background-color: var(--main-color);
  color: #ffffff;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  margin-top: 50px;
  cursor: pointer;
  animation: bounce 1s linear infinite, fadeIn 2s;
}

/* ///////////////////////////////////////////////// */

.card{
  position: relative;
  display: grid;
  justify-content: center;
  width: 300px;
  height: max-content;
  animation: fadeIn 2s;
}

.card > p:nth-child(1) {
  background-color: var(--main-color);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  width: max-content;
  position: absolute;
  padding: 10px 10px 10px 30px;
  top: 10px;
  left: -10px;
  margin: 0;
  font-size: clamp(0.938rem, 0.577vw + 0.663rem, 1.125rem);
  border-radius: 10px 3px 3px 0;
}
.card > span {
  background-color: var(--main-color-darker);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 45px;
  left: -10px;
  z-index: -1;
  border-radius: 0 0 0 90px;
}

.card > img{
  cursor: pointer;
  margin-top: 25px;
  width: 270px;
  height: 290px;
  background-color: #ffffff;
  object-fit: cover;
  display: grid;
  justify-content: center;
  border-radius: 5px 5px 0 0;
}

.card > p:nth-child(4){
  font-size: x-large;
  margin: 0;
  text-align: right;
  padding-right: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--main-color-darker);
  background-color: #ffffff;
  box-shadow: 0px 13px 20px 1px #00000036;

}

/* ///////////////////////////////////////////////// */

.modal{
  z-index: 99;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  animation: fadeIn 0.3s;
}

.modal_container > svg{
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  margin: 12px;
  font-size: xx-large;
  cursor: pointer;
}

.modal_container > svg:hover{
  animation: spin 1s;
}

.modal > div{ 
  background-color: #00000060;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_container {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  width: 700px;
  height: 60vh;
  border-radius: 20px;
  overflow: hidden;
}

.modal_container > p{
  position: absolute;
  bottom: 0;
  color: #000000a8;
  margin: 0px 0px 20px 10px;
}

.modal_container > img{
  width: 50%;
  height: inherit;
  border-radius: 20px;
  object-fit: cover;
  transition: width 0.8s;
}

.modal_container > img:active{
  position: absolute;
  border-radius: 20px;
  width: inherit;
}

.modal_container > div{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-content: baseline;
  padding: 5px;
  margin-top: 30px;
}

.modal_container > div > div:nth-child(1){
  grid-row: 1;
}

.modal_container > div > div:nth-child(2){
  grid-row: 2 / 5;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 0;
}

.modal_container > div > div:nth-child(1) > p, 
.modal_container > div > div:nth-child(2) > p{
  margin: 0;
}

/* ///////////////////////////////////////////////// */

@media only screen and (max-width: 720px) {
  .card > img {
    background-color: lightblue;
  }
  .logo *{
    transform: scale(0.8);
  }
  .modal_container {
    width: 80vw;
    height: 60vh;
  }
  
}

/* ///////////////////////////////////////////////// */

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(20%); }
  100% { transform: translateY(0); }
}

@keyframes zoomInLogo {
  0% { transform: scale(1) rotate(-10deg); }
  50% { transform: scale(1.1) rotate(-10deg); }
  100% { transform: scale(1) rotate(-10deg); }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}